@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-dark;
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto max-w-7xl;
  }
  
  .btn-primary {
    @apply px-6 py-3 font-medium text-white transition duration-300 rounded-md bg-primary hover:bg-opacity-90;
  }
  
  .btn-secondary {
    @apply px-6 py-3 font-medium transition duration-300 rounded-md text-white bg-secondary hover:bg-opacity-90;
  }
  
  .section {
    @apply py-16;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
